/* A Free Design by Bryant Smith (bryantsmith.com) */
/* 
strong {
	height: 300px;
	color: orange
} */

body {
	margin: 0;
	padding: 0;
	text-align: left;
	font: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #061C37;
	background-color: #FCFBEF;
	background-image:url(images/background.png);
	background-repeat:repeat-x;
}
*
{
  margin: 0 auto 0 auto;
 text-align:left;}

/*_________THE TAB SECTION____*/
  /* Style the tab */
/* .tab {
	overflow: hidden;
	border: 1px solid #ccc;
	background-color: #f1f1f1;
  } */
  
  /* Style the buttons that are used to open the tab content */
  /* .tab button {
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
  } */
  
  /* Change background color of buttons on hover */
  /* .tab button:hover {
	background-color: #ddd;
  } */
  
  /* Create an active/current tablink class */
  /* .tab button.active {
	background-color: #ccc;
  } */
  
  /* Style the tab content */
  /* .tabcontent {
	display: none;
	padding: 6px 12px;
	border: 1px solid #ccc;
	border-top: none;
  }  */

  /*_________END OF THE TAB SECTION____*/

#container
{
  display: block; 
  height:auto;
  position: relative; 
  width: 940px;
}

#mainpic h1
{
	position:absolute;
text-align:right;
font-size:30px;
color:#AB970C;
left:600px;
top:220px;
}


#mainpic h2
{
position:absolute;
text-align:right;
color:#776906;
left:600px;
top:252px;
}

#mainpic
{
background-image:url(images/Quinn1.jpg);
background-repeat:no-repeat;
background-attachment: fixed;
  background-position: center; 
width:900px;
height:354px;	
}



.lighter
{
color:#F2D76A;
	
}




#menu
{
background-image:url(images/menu.png);
background-repeat:no-repeat;
width:940px;
height:69px;
float:left;
clear:both;
}

.content
{
width:880px;
height:auto;
background-color:#b66e6e;
padding-left:10px;
padding-right:10px;
padding-bottom:5px;
}

#footer
{
width:inherit;
height:auto;
color:#3c6699
}

#footer h3 a,#footer h3 a:visited
{
display:inline;
text-align:center;
font-size:12px;
text-decoration:none;
color:#F5EB67;
}

a,a:visited
{
color:#E4CA10;
text-decoration:none;
font-weight:bold;
}

#menu ul {
	list-style: none;
	padding: 0px;
	margin-left:auto;
	width:900px;
}

#menu li {
	list-style: none;
	padding: 0px;	
	display: inline; 
	
}

/*TEST*/
#menu button {
	list-style: none;
	padding: 0px;	
	display: inline; 
	margin-left:auto;
	width:900px;
}

#menu a,#menu a:visited {
	float: left;
	width: 150px;
	height: 40px;
	display: block;
	text-align: center;
	text-decoration: none;
	color:#3C3504;
	font-weight: bold;
	padding-top: 16px;
	font-size: 17px;
}

#menu a:hover{
	color:#B39311;
}

/* #content p
{
	
} */


html, body {
text-align: center;
}
p {text-align: left;}